node_modules
yarn.lock
package-lock.json
.gitkeep
.env*
*.ico
*.lock
.eslintrc.js
.prettierrc
.vscode
nest-cli.json
README.md
tsconfig.build.json
tsconfig.json
.commitlintrc.json
dist
*/**/serviceAccountKey.json
env-updater.js